.section:hover {
    background-color: pink;
}

.white {
    color: white;
}

.black {
    color: black;
}

main {
    padding-top: 1%;
    padding-right: 37%;
    padding-bottom: 1%;
    padding-left: 37%;
}

body {
    background-color: pink;
}

.white:hover {
    color: black;
}

.black:hover {
    color: white;
}

h1, h2, .p1black, p {
    text-align: center;
}
.president_nelson{
    text-align: center;
}

