body {
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    margin: 0;
}
main {
    background-color: grey;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desk, .graphic, .thomas {
    border-radius: 50%;
    border: 30px solid rgb(72, 72, 72);
    width: 300px;
    margin: 40px;
}
