.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cherryheading {
    grid-column: 1/3;
    grid-row: 1/3;
    text-align: center;
    size: 1em;
}
.first-two-rows {
    grid-column: 1/2;
    grid-row: 1/3;
}
.Cherries {
    grid-column: 2/3;
    grid-row: 2/3;
}